body{
    margin: 0;
    background-color: rgb(250, 247, 242);
    font-family: Arial, sans-serif;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0b1121;
}

.logo img{
    height: 50px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 15px;
}

.botones{
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.perfil{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}