/* AC-1: RESET GENERAL
Evita estilos raros del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
   
/* AC-1: BODY (CENTRADO DE PANTALLA) */
body {
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 

/* AC-1: CONTENEDOR PRINCIPAL */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}


/* ===============================
🔵 AC-1: LOGO DEL SISTEMA
=============================== */
.logo img {
    width: 60%;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 40px;
}

/* ===============================
🔵 AC-1: TÍTULO
=============================== */
h2 {
    margin-bottom: 20px;
}

/* ===============================
🔵 AC-1: LABELS
=============================== */
label {
    display: block;
    text-align: left;
    margin: 15px 0 5px;
    font-size: 14px;
}

/* ===============================
🔵 AC-1: INPUTS
=============================== */
.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

/* 🔵 AC-1: ICONO INPUT */
.icon {
    margin-right: 10px;
}